<HTML>
	<HEAD>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>	
	
		<link href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" rel="stylesheet">
		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
		<TITLE>ContentListPage</TITLE>
	</HEAD>
	
	<BODY>
		<div class="ui sidebar vertical menu">
			<a id="userId" class="item"><%= user.id %></a>
			<a class="item" href="./logOutAction">log-out</a>
			<a class="item" href="./mapPage">map</a>
			<a class="item" href="./contentListPage">contents</a>
		</div>
		<div class="pusher">
			<div class="ui menu">
				<div class="item" id="show-sidebar">
					<a class="launch icon item">
						<i class="content icon"></i>
					</a>
				</div> 
			</div>

			<div id="contentList">
				<div class="ui segment" style="left : 5%; top : 5%; width : 90%; height : 80%;">
					<div class="ui form">	
						<div class="field">
							<table class="ui celled table">
								<thead>
									<tr>
										<th width="10%">idx</th>
										<th width="30%">Title</th>
										<th width="20%">UserID</th>
										<th width="10%">Lat</th>
										<th width="10%">Lng</th>
										<th width="20%">Date</th>
									</tr>
								</thead>
								<tbody>
									<% if(contents.length > 0) { %>
										<% for(var i = 0; i < contents.length; i++) { %>
											<tr onclick="onContentClick(this)" onmouseover="onContentMouseOver(this)" onmouseout="onContentMouseOut(this)">
												<td> <%= contents[i].content_idx %> </td>										
												<td> <%= contents[i].title %> </td>
												<td> <%= contents[i].user_id %> </td>
												<td> <%= (contents[i].lat).toFixed(3) %> </td>
												<td> <%= (contents[i].lng).toFixed(3) %> </td>
												<td> 
													<% var datetime = new Date(contents[i].datetime); %> 
													<% var date = 
														datetime.getFullYear() + "-" + 
														(datetime.getMonth()*1 + 1) + "-" + 
														datetime.getDate(); %>
													<%= date %> 
												</td>
											</tr>
										<% } %>
									<% } %>
								</tbody>
								<tfoot>
									<tr>
										<th colspan="6">
											<div class="ui left floated pagination menu">
												<a class="item" href="/createContentPage">CREATE</a>
											</div>
											<div class="ui floated pagination menu">
												<input id="search" type="text" placeholder="search with title">
												<a class="item" onclick="onSearchClick()">SEARCH</a>	
											</div>	
											
											<% include ./MakePagingMenu.ejs %>
										</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>			
		</div>

		<script type="text/javascript">
			$('#show-sidebar').click(function(){
				$('.ui.sidebar').sidebar('toggle');
			});
			
			function onContentClick(trObj){
				var idx = trObj.cells[0].innerText;
				location.href = "/contentPage" + "?idx=" + idx;
			}

			function onContentMouseOver(trObj){
				trObj.bgColor = "lightgray";
			}

			function onContentMouseOut(trObj){
				trObj.bgColor = "white";
			}
			
			function onSearchClick(){
				var searchInput = document.getElementById("search");
				location.href="/contentListAction" + "?page=1" + "&searchText=" + searchInput.value;
			}
		</script>
	</BODY>
</HTML>